{% extends "GiveItFreeApp/base_user.html" %}

{% block content %}
    <h2>Twoje zbiórki</h2>
    {% if collections %}
        <table class="table-gifts">
            <tr>
                <th>Cel zbiórki</th>
                <th>Potrzebne rzeczy</th>
                <th>Adres organizatora</th>
                <th>Termin początkowy zbiórki</th>
                <th>Termin końcowy zbiórki</th>
                <th>Zatwierdzenie zbiórki</th>

            </tr>
            {% for collection in collections %}
                <tr>
                    <td>{{ collection.purpose }}</td>
                    <td>{{ collection.items_needed }}</td>
                    <td>{{ collection.address }}</td>
                    <td>{{ collection.creation_date }}</td>
                    <td>{{ collection.deadline }}</td>
                    <td>{{ collection.is_authorized|yesno:"ZATWIERDZONA,NIEZATWIERDZONA" }}
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="about-us">
            <div class="about-us--text">
                <p>Nie jesteś organizatorem żadnej zbiórki</p>
            </div>
        </div>
    {% endif %}

{% endblock %}