{% extends "GiveItFreeApp/base_user.html" %}

{% block content %}
    <section class="login-page">
        <h2>Zorganizuj zbiórkę</h2>
        <form method="post">
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group form-group--buttons">
                <button class="btn" type="submit">Załóż zbiórkę</button>
                <a href="{% url 'landing_page' %}"
                   class="btn btn--without-border">Anuluj</a>
            </div>
            <h2>
                Po założeniu zbiórki skontaktujemy się z Tobą w celu jej zatwierdzenia
            </h2>
            {% csrf_token %}
        </form>
    </section>
{% endblock %}
