{% extends  "GiveItFreeApp/base_user.html" %}

{% block content %}
    <section class="login-page">
        <h2>Zmień swoje dane</h2>
        <form method="post">
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group form-group--buttons">
                <a href="{% url 'edit_password' %}" class="btn btn--without-border">Zmień hasło</a>
                <button class="btn" type="submit">Zapisz zmiany</button>
            </div>
            {% csrf_token %}
        </form>
    </section>
{% endblock %}
