{% extends "GiveItFreeApp/base.html" %}

{% block slogan %}
    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Oddaj rzeczy, których już nie chcesz<br/>
                <span class="uppercase">potrzebującym</span><br/>
                Wypełnij formularz poniżej
            </h1>

            <div class="slogan--steps">
                <div class="slogan--steps-title">Wystarczą 4 proste kroki:</div>
                <ul class="slogan--steps-boxes">
                    <li>
                        <div><em>1</em><span>Wybierz rzeczy</span></div>
                    </li>
                    <li>
                        <div><em>2</em><span>Spakuj je w worki</span></div>
                    </li>
                    <li>
                        <div><em>3</em><span>Wybierz fundację</span></div>
                    </li>
                    <li>
                        <div><em>4</em><span>Zamów kuriera</span></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="form--steps">
        <div class="form--steps-instructions">
            <div class="form--steps-container">
                <h3>Ważne!</h3>
                <p data-step="1" class="active">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="2">
                    Uzupełnij szczegóły dotyczące Twoich rzeczy. Dzięki temu będziemy
                    wiedzieć komu najlepiej je przekazać.
                </p>
                <p data-step="3">
                    Jeśli wiesz komu chcesz pomóc, możesz wpisać nazwę tej organizacji w
                    wyszukiwarce. Możesz też filtrować organizacje po ich lokalizacji
                    bądź celu ich pomocy.
                </p>
                <p data-step="4">
                    Na podstawie Twoich kryteriów oraz rzeczy, które masz do oddania
                    wybraliśmy organizacje, którym możesz pomóc. Wybierz jedną, do
                    której trafi Twoja przesyłka.
                </p>
                <p data-step="5">Podaj adres oraz termin odbioru rzeczy.</p>
            </div>
        </div>

        <div class="form--steps-container">
            <div class="form--steps-counter">Krok <span>1</span>/5</div>

            <form id="gift_form">
                <!-- STEP 1: class .active is switching steps -->
                <div data-step="1" class="active">
                    <h3>Zaznacz co chcesz oddać:</h3>

                    <div class="form-group form-group--checkbox">
                        <label>
                            <input type="checkbox" name="gift_type" value="ubrania nieużywane"/>
                            <span class="checkbox"></span>
                            <span class="description"
                            >ubrania, nieużywane</span
                            >
                        </label>
                    </div>

                    <div class="form-group form-group--checkbox">
                        <label>
                            <input type="checkbox" name="gift_type" value="ubrania używane"/>
                            <span class="checkbox"></span>
                            <span class="description">ubrania, używane</span>
                        </label>
                    </div>

                    <div class="form-group form-group--checkbox">
                        <label>
                            <input type="checkbox" name="gift_type" value="zabawki"/>
                            <span class="checkbox"></span>
                            <span class="description">zabawki</span>
                        </label>
                    </div>

                    <div class="form-group form-group--checkbox">
                        <label>
                            <input type="checkbox" name="gift_type" value="książki"/>
                            <span class="checkbox"></span>
                            <span class="description">książki</span>
                        </label>
                    </div>

                    <div class="form-group form-group--checkbox">
                        <label>
                            <input type="checkbox" name="gift_type" value="inne"/>
                            <span class="checkbox"></span>
                            <span class="description">inne</span>
                        </label>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn next-step">Dalej</button>
                    </div>
                </div>

                <!-- STEP 2 -->
                <div data-step="2">
                    <h3>Podaj liczbę 60l worków, w które spakowałeś/aś rzeczy:</h3>

                    <div class="form-group form-group--inline">
                        <label>
                            Liczba 60l worków:
                            <input type="number" name="number_of_bags" step="1" min="1"/>
                        </label>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step">Dalej</button>
                    </div>
                </div>

                <!-- STEP 3 -->
                <div data-step="3">
                    <h3>Komu chcesz pomóc?:</h3>

                     <div class="form-section">
                        <div class="form-section--checkboxes">
                            {% for target_group in target_groups %}
                                <div class="form-group form-group--checkbox">
                                    <label>
                                        <input type="checkbox" name="help[]" data-id="{{ target_group.id }}"/>
                                        <span class="checkbox">{{ target_group.name }}</span>
                                    </label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="form-section">
                        <h4>Lokalizacja (opcjonalne, nie wybieraj lokalizacji jeśli chcesz wspomóc lokalną zbiórkę)</h4>
                    </div>
                    <div id="localization" class="form-group form-group--dropdown">
                        <select name="localization">
                            <option value="0">- wybierz -</option>
                            <option value="warsaw">Warszawa</option>
                            <option value="wroclaw">Wrocław</option>
                            <option value="poznan">Poznań</option>
                            <option value="gdansk">Gdańsk</option>
                        </select>
                    </div>

                    <div class="form-section">
                        <h4>Wpisz nazwę konkretnej organizacji (opcjonalnie)</h4>
                        <div class="form-group">
                            <textarea rows="4" name="organization_search" id="organization_search"></textarea>
                        </div>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step" id="institution_search_button">Szukaj</button>
                    </div>
                </div>

                <!-- STEP 4 -->
                <div data-step="4">
                    <h3>Wybierz organizacje, której chcesz pomóc:</h3>
                    <div class="trusted_institutions"></div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="button" class="btn next-step">Dalej</button>
                    </div>
                </div>

                <!-- STEP 5 -->
                <div data-step="5">
                    <h3>Podaj adres oraz termin odbioru rzecz przez kuriera:</h3>

                    <div class="form-section form-section--columns">
                        <div class="form-section--column">
                            <h4>Adres odbioru</h4>
                            <div class="form-group form-group--inline">
                                <label> Ulica <input type="text" name="street"/> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> Miasto <input type="text" name="city"/> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Kod pocztowy <input type="text" name="postal_code"/>
                                </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Numer telefonu <input type="phone" name="phone_number"/>
                                </label>
                            </div>
                        </div>

                        <div class="form-section--column">
                            <h4>Termin odbioru</h4>
                            <div class="form-group form-group--inline">
                                <label> Data <input type="date" name="pick_up_date"/> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label> Godzina <input type="time" name="pick_up_time"/> </label>
                            </div>

                            <div class="form-group form-group--inline">
                                <label>
                                    Uwagi dla kuriera
                                    <textarea name="comments" rows="5"></textarea>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button id="summary" type="button" class="btn next-step">Dalej</button>
                    </div>
                </div>

                <!-- STEP 6 -->
                <div data-step="6">
                    <h3>Podsumowanie Twojej darowizny</h3>

                    <div class="summary">
                        <div class="form-section">
                            <h4>Oddajesz:</h4>
                            <ul>
                                <li>
                                    <span class="icon icon-bag"></span>
                                    <span id="summary_gift_types" class="summary--text"></span>
                                </li>

                                <li>
                                    <span class="icon icon-hand"></span>
                                    <span id="summary_trusted_institution" class="summary--text"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="form-section form-section--columns">
                            <div class="form-section--column">
                                <h4>Adres odbioru:</h4>
                                <ul id="summary_address">

                                </ul>
                            </div>

                            <div class="form-section--column">
                                <h4>Termin odbioru:</h4>
                                <ul id="summary_date_and_time">

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-group--buttons">
                        <button type="button" class="btn prev-step">Wstecz</button>
                        <button type="submit" class="btn" id="gift_form_submit">Potwierdzam</button>
                    </div>
                </div>

                <!-- STEP 7 -->
                <div data-step="7">
                    <h2>
                        Dziękujemy za przesłanie formularza Na maila prześlemy wszelkie
                        informacje o odbiorze.
                    </h2>
                </div>
                {% csrf_token %}
            </form>
        </div>
    </section>
{% endblock %}
