{% extends  "GiveItFreeApp/base_user.html" %}

{% block content %}
    <section class="login-page">
        <h2>Zmień swoje hasło</h2>
        <form method="post">
            {% for field in form %}
                <div class="form-group">
                    {{ field.errors }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="form-group form-group--buttons">
                <a href="/edit_profile" class="btn btn--without-border">Anuluj</a>
                <button class="btn" type="submit">Zapisz nowe hasło</button>
            </div>
            {% csrf_token %}
        </form>
    </section>
{% endblock %}
